@charset "utf-8";
/* CSS Document */

/*.input_search_key{ float:left; width:462px; height:18px; padding:3px; margin-right:5px; border:1px solid #cccccc; line-height:18px; background:#FFFFFF;}*/
/*.search_btn{ float:left; width:68px; height:26px; overflow:hidden; border:1px solid #cccccc; text-align:center; color:#ff3300; letter-spacing:5px; background:url(../images/gover_search_bg.gif) no-repeat 0 -79px; cursor:pointer; font-weight:bold;}*/

.search_suggest {
    position: absolute;
    z-index: 999;
    min-width: 160px;
    background: #eff2f4;
    border: 1px #afb6bd solid;
    display: none; 
    color: #000;
}

    .search_suggest ul {
        padding: 0 10px;
        margin: 10px 0;
    }

    .search_suggest li {
        height: 25px;
        overflow: auto;
        line-height: 25px;
        cursor: default;
        /* 超出部分用省略号代替 */
        display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
        width: 139px;
    }

        .search_suggest li.hover {
            background: #999;
            opacity:0.8;
        }




        
.search_rfid {
    position: absolute;
    z-index: 999;
    min-width: 160px;
    background: #bedcf6;
    border: 1px #3c3c3c solid;
    display: none; 
    color: #000;
}

    .search_rfid ul {
        padding: 0 10px;
        margin: 10px 0;
    }

    .search_rfid li {
        height: 25px;
        overflow: auto;
        line-height: 25px;
        cursor: default;
        /* 超出部分用省略号代替 */
        display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
        width: 139px;
    }

        .search_rfid li.hover {
            background: #bedcf6;
        }
