body {
    font-size: 1.3rem;
    font-family: 'Microsoft YaHei';
    color: #f7cc91;
    font-weight:normal;
}

.container-fluid {
    background: url(/Image/common/bg.png) repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
}

img {
    height: 100%;
}

/********
    INDEX 页面
    *******/
.index_logo {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -92px;
    height: 6.6rem;
}

.index_title {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -156px;
    height: 6.6rem;
}

.index_content {
    background: url(/Image/index/content.png) no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -37.5%;
    width: 75%;
    height: 46%;
}

    .index_content > a {
        position: absolute;
        bottom: 25%;
        right: 25%;
        height: 15%;
    }




/********
    USER 页面
    *******/
.userbase_logo {
    position: absolute;
    top: 6%;
    left: 50%;
    margin-left: -92px;
    height: 6.6rem;
}

.user_header {
    background: url(/Image/user/header_border.png) no-repeat;
    background-size: 100%;
    position: relative;
    top: 22%;
    left: 50%;
    margin-left: -37.5%;
    width: 75%;
    height: 19%;
}

.user_header img {
    width: 50%;
    height: 50%;
    border-radius: 50px;
    margin: 7% 0 0 19%;
    border: 1px solid #f7cc91;
}

.common_content {
    position: relative;
    top: 23%;
    left: 50%;
    margin-left: -37.5%;
    width: 75%;
    min-height: 20rem;
}

.user_my_title {
    position: absolute;
    top: -1%;
    left: 50%;
    margin-left: -73.45px;
    height: 4rem;
}

.border_header {
    position: absolute;
    width: 100%;
}
    .border_header img {
        width: 100%;
    }

.border_body {
    background: url(/Image/common/border_middle.png) repeat;
    background-size: 100%;
    position: relative;
    min-height: 20rem;
    /* border-radius: 30px; */
    top: 55px;
}

.border_footer {
    position: absolute;
    /*bottom: 0%;*/
    left: 0%;
    bottom: -55px;
}
    .border_footer img {
        width: 100%;
    }

.common_button {
    background: url(/Image/common/btn.png) no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -30%;
    width: 60%;
    height: 16%;
    text-align: center;    
    padding: 3% 0;
    color: #f7cc91;
}
.common_button a,.common_button a:hover {
    color: #f7cc91;
    text-decoration: none;
}

.common_footer {
    position: absolute;
    bottom: -41.5%;
    left: 50%;
    margin-left: -61px;
    height: 4rem;
}


.regist_title {
    background: url(/Image/regist/title.png) no-repeat;
    background-size: 100%;
    position: relative;
    top: 28%;
    height: 16%;
}

.good_title {
    background: url(/Image/gift/title.png) no-repeat;
    background-size: 100%;
    position: relative;
    top: 27%;
    height: 17%;
    left: 50%;
    margin-left: -37.5%;
    width: 75%;
}

.order_header {
    position: relative;
    top: 20%;
    height: 15%;
    left: 50%;
    margin-left: -42.5%;
    width: 85%;
}


/****** btn-orange ↓ *****/
.btn-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn.btn-orange {
    color: #fff;
    background: #f7cc91;
    border-color: #f7cc91;
}

    .btn.btn-orange.active, .btn.btn-orange:active, .btn.btn-orange:focus, .btn.btn-orange:hover, .open .dropdown-toggle.btn-orange {
        background: #f89c1d;
        border-color: #f89c1d;
    }

.table {
    width:92%;
    margin: 0 auto;
}
.table tr th {
    font-size: 1.0rem;
    background: #3f3221 !important;
    border-bottom: 0.5px solid #A2957A !important;
}

.table tr td {
    font-size: 1.0rem;
    background: #30261a !important;
    border-top: none !important;
    border-bottom: 0.5px solid #A2957A !important;
}

.table-from {
    border-collapse: separate;
    border-spacing: 0 0.8rem;
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: -3.5rem;
}

.table-from tr th {    
    text-align:center;
    font-size: 1.0rem;
    background: #3e3121 !important;
    border: 1px solid #f7cc91 !important;
    width: 40%;
    padding: 5%;
}

.table-from tr td {
    font-size: 1.0rem;
    background: #30261a !important;
    border: 1px solid #f7cc91 !important;
    width: 60%;
}
.table-from tr td input {
    padding: 7%;
    width: 100%;
    opacity: 0.2;
    background: rgba(213,176,127,0.1);
}


.form-group-info {
    margin: -17% 8%; 
}


/**动画 模态窗口*******/
.modal-wrap {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    z-index: 3;
    background-color: #000;
    opacity: 0;
    transition: opacity .3s linear;
}

    .modal-wrap.in {
        bottom: 0;
        opacity: 0.6;
        height: auto;
    }

.modal {
    display: none;    
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    color: #000;
}
    .modal .modal-header {
        min-height: 16.43px;
        padding: 5px;
        border-bottom: 1px solid #e5e5e5;
    }

    .modal .panel-body {
        padding: 5px;
        border: none;
    }

    .modal .modal-footer {
        padding: 10px 5px;
        border-top: none;
    }


    .modal .modal-dialog {
        width: 70%;
        margin: 90% auto 0;
        padding: 0 10px;
        background-color: #FFF;
        opactiy: .5;
        transition: opactiy ease .3s;
        border-radius: 3px;
    }

    .modal .modal-html-dialog {
        width: 70%;
        margin: 5% auto 5%;
        padding: 0 10px;
        background-color: #FFF;
        opactiy: .5;
        transition: opactiy ease .3s;
        border-radius: 3px;
    }

    .modal.in .modal-dialog,
    .modal.in .modal-html-dialog {
        opactiy: 1;
    }

.modal-dialog .modal-title,
.modal-html-dialog .modal-title {
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.3rem;
    font-weight: normal;
}

.modal-dialog .modal-msg,
.modal-html-dialog .modal-msg {
    line-height: 3rem;
    font-size: 1.1rem;
    font-weight: normal;
}

.modal-dialog .modal-html,
.modal-html-dialog .modal-html {
    line-height: 1.3rem;
    padding-bottom: 1rem;
}

.modal-dialog .modal-footer .btn,
.modal-html-dialog .modal-footer .btn{
    font-size: 1.1rem;
}