@{
    ViewBag.Title = "填写保单";
}

<div class="container-fluid" ng-app="list1" ng-controller="list1Ctrl">
    <div class="common-logo">
        <img src="~/Image/common/logo_header.png" />
    </div>
    <div class="regist-title">
        <img src="~/Image/regist/title.png" />
    </div>

    <div class="common-content">
        <div class="border-header"></div>
        <div class="border-body">
            <table class="table-from">
                <tr>
                    <th>姓　　名</th>
                    <td>
                        <input type="text" placeholder="请输入姓名" ng-model="detail.InsuranceName" />
                    </td>
                </tr>
                <tr>
                    <th>联系电话</th>
                    <td>
                        <input type="text" placeholder="请输入联系电话" ng-model="detail.InsurancePhone"/>
                    </td>
                </tr>
                <tr>
                    <th>身份证号</th>
                    <td>
                        <input type="text" placeholder="请输入身份证号" ng-model="detail.InsuranceIdCard" />
                    </td>
                </tr>
                <tr>
                    <th>性　　别</th>
                    <td style="padding-left:1rem;">
                        <input name="Sex" type="radio" value="1" /> 男
                        &nbsp;&nbsp;
                        <input name="Sex" type="radio" value="2" /> 女
                    </td>
                </tr>
                <tr>
                    <th>联系地址</th>
                    <td>
                        <input type="text" placeholder="请输入联系地址" ng-model="detail.InsuranceAddress" />
                    </td>
                </tr>
            </table>
            <div class="border-group-info" style="position: relative;top: -2rem;">
                <label>温馨提示：</label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您的个人信息我们将会保密，不做第三方用途，请放心填写。</label>
            </div>

            <a href="javascript:void(0)" ng-click="Pager.SubmitInsurance()" 
               class="common-button"> 确认更改 </a>
            <a href="javascript:void(0)" ng-click="Pager.Cancel()"
               class="common-button m-t-10"> 取　　消 </a>
        </div>
        <div class="border-footer"></div>
        <div class="common-content-footer">
            <img src="~/Image/common/logo_footer.png" />
        </div>
    </div>
</div>
@section scripts {
    <script src="~/assets/plugins/angular/angular.min.js"></script>
    <script>
        var app1 = angular.module('list1', []);
        app1.controller('list1Ctrl', ['$scope', function ($scope) {
            $scope.detail = @MvcHtmlString.Create(ViewBag.CouponEntity)
            $scope.radioModel = undefined;
            $scope.gunCount = 0;

            var Pager = {
                SubmitInsurance: function () {
                    $.ajax({
                        url: "/Order/SubmitInsurance",
                        type: "post",
                        dataType: "json",
                        data: {
                            jsonData: JSON.stringify($scope.detail)
                        },
                        success: function (data) {
                            if (data.status == 0) {
                                modal.show('@ViewBag.Title', data.msg);
                                return;
                            }
                            window.location.href = "/Order/Success?OrderID=" + $scope.detail.RecordID;
                        }
                    });
                },
                Cancel: function () {
                    window.location.href = "/Order/Success?OrderID=" + $scope.detail.RecordID;
                }
            }

            $scope.Pager = Pager;
            if ($scope.detail != null && $scope.detail != undefined) {
                $("input:radio[name='Sex'][value='" + $scope.detail.InsuranceSex + "']").prop("checked", "checked");
            }
        }]);
    </script>
}