<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--本地环境-->
    <add name="Entities" connectionString="data source=192.168.8.74;Database=CHIHCC_SHOOT; user id=sa;password=123;Max Pool Size = 512;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--系统管理密码-->
    <add key="ManagerPassword" value="123456" />
    <add key="ManagerPhone" value="13609245992" />

    
    <!-- ngrok 服务可以分配给你一个域名让你本地的web项目提供给外网访问，特别适合向别人展示你本机的web demo 
    以及调试一些远程的API (比如微信公众号，企业号的开发) http://ngrok.ciqiuwl.cn -->


    <!-- WebSite.Domain 开发环境-->
    <add key="WebSite.Domain" value="http://mp.iteming.wang" />
    --><!-- 微信支付：测试公众号 -->
    <add key="WeiXin.APPID" value="wxf4f9d1f1683b506e" />
    <add key="WeiXin.APPSECRET" value="c596c3740113fe76d52edc1c4842ef96" />
    <add key="WeiXin.MCHID" value="1481789072" />
    <add key="WeiXin.KEY" value="ed1d16911698b24126f1e0223b77d9ea" />
    <add key="ALIPAY_WxRETURN_URL" value="/WxPay/WxPayNotify" />

    <!-- 代理IP 端口 -->
    <add key="Proxy.Enable" value="0" />
    <add key="Proxy.IP" value="10.45.21.248" />
    <add key="Proxy.Point" value="8082" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
