@{
    ViewBag.Title = "用户账户流水";
}
@section styles {
    <style>
        .container-fluid {
            min-height: 110%;
        }
    </style>
}
<div class="container-fluid" ng-app="list1" ng-controller="list1Ctrl">
    <div class="userbase_logo">
        <img src="~/Image/common/logo_header.png" />
    </div>

    <div class="user_header">
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <img ng-src='{{detail.HeaderUrl?detail.HeaderUrl:"#"}}' />
                    </div>
                </td>
                <td width="55%">
                    <div class="form-group" style="margin: 7% 6% 0 0; ">
                        <label>姓名：<span ng-bind="detail.UserName"></span></label>
                        <label>手机号：<span ng-bind="detail.TelePhone"></span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group" style="margin: 5% 0 0 10%; ">
                        <label>
                            余额：
                            <span style="color:#FFF" ng-bind="detail.Balance">0</span>
                            元
                        </label>
                    </div>
                </td>
                <td width="55%">
                    <div class="form-group" style="margin: 2% 7% 0 0;float:right;">
                        @*<a href="/WxPay/Recharge/" class="btn btn-orange"> 充值 </a>*@
                        <a href="/User/UserBase/" class="btn btn-sm btn-orange"> 我的主页 </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="common_content">
        <div class="user_my_title">
            <img src="~/Image/user/my_title.png" />
        </div>

        <div class="border_header">
            <img src="~/Image/common/border_header.png" />
        </div>

        <div class="border_body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">订单时间</th>
                        <th class="text-center">订单金额</th>
                        <th class="text-center">订单状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in lists">
                        <td class="text-center"><span ng-bind="item.CreateTime"></span></td>
                        <td class="text-center"><span ng-bind="item.Amount"></span></td>
                        <td class="text-center"><span ng-bind="item.StatusName"></span></td>
                        <td class="text-center">
                            <a href="javascript:void(0)" ng-click="Pager.Refund(item)" ng-show="item.Status==2" class="btn btn-link btn-orange"> 退款 </a>
                            @*<a href="javascript:void(0)" ng-click="Pager.Delete(item)" ng-show="item.Status==1" class="btn btn-link btn-orange"> 删除 </a>*@
                            <a href="javascript:void(0)" ng-click="Pager.Detail(item)" ng-show="item.Status!=1&&item.Status!=2"
                               class="btn btn-link btn-default">查看</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            @*<div class="common_button">
                    <a href="/Home/StartGame/"> 查看排行榜 </a>
                </div>*@
        </div>

        <div class="border_footer">
            <img src="~/Image/common/border_bottom.png" />
        </div>
        <div class="common_footer">
            <img src="~/Image/common/logo_footer.png" />
        </div>
    </div>
</div>

@section scripts {
    <script src="~/assets/plugins/angular/angular.min.js"></script>
    <script>
        var app1 = angular.module('list1', []);
        app1.controller('list1Ctrl', ['$scope', function ($scope) {
            $scope.detail = @MvcHtmlString.Create(ViewBag.User)
            $scope.lists = @MvcHtmlString.Create(ViewBag.RecordList)
            $scope.tmp = undefined;
            var Pager = {
                Refund: function (item) {
                    //// 退款（作废）
                    //window.location.href = "/User/EnterPassword?OrderID=" + item.RecordID + "&CodeType=2";

                    // 退款申请
                    window.location.href = "/User/EnterRefundApply?OrderID=" + item.RecordID;
                },
                Delete: function (item) {
                    //删除订单
                },
                Detail: function (item) {
                    //查看订单
                    window.location.href = "/Order/Success?OrderID=" + item.RecordID;
                }
            }
            $scope.Pager = Pager;
        }]);
    </script>
}