@{
    ViewBag.Title = "用户账户流水";
}

<div class="container-fluid" ng-app="list1" ng-controller="list1Ctrl">
    <div class="common-logo">
        <img src="~/Image/common/logo_header.png" />
    </div>

    <div class="user-header">
        <table>
            <tr>
                <td>
                    <div>
                        <img ng-src='{{detail.HeaderUrl?detail.HeaderUrl:"#"}}' />
                    </div>
                </td>
                <td width="55%">
                    <div style="margin: 7% 6% 0 0; text-align: left;">
                        <label>姓名：<span ng-bind="detail.UserName"></span></label>
                        <label>手机号：<span ng-bind="detail.TelePhone"></span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin: 5% 0 0 -10%; ">
                        <label>
                            余额：
                            <span style="color:#FFF" ng-bind="detail.Balance">0</span>
                            元
                        </label>
                    </div>
                </td>
                <td width="55%">
                    <div style="margin: 2% 5%;float:right;">
                        @*<a href="/WxPay/Recharge/" class="btn btn-orange"> 充值 </a>*@
                        <a href="/User/UserBase/" class="btn btn-sm btn-orange"> 我的主页 </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="common-content">
        <div class="common-content-title">
            <img src="~/Image/user/my_title.png" />
        </div>
        <div class="border-header"></div>
        <div class="border-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">订单时间</th>
                        <th class="text-center">订单金额</th>
                        <th class="text-center">订单状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in lists">
                        <td class="text-center"><span ng-bind="item.CreateTime"></span></td>
                        <td class="text-center"><span ng-bind="item.Amount"></span></td>
                        <td class="text-center"><span ng-bind="item.StatusName"></span></td>
                        <td class="text-center">
                            <a href="javascript:void(0)" ng-click="Pager.Refund(item)" ng-show="item.Status==2" class="btn btn-link btn-orange"> 退款 </a>
                            <a href="javascript:void(0)" ng-click="Pager.Detail(item)" ng-show="item.Status!=1&&item.Status!=2"
                               class="btn btn-link btn-default">查看</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="border-footer"></div>
        <div class="common-content-footer">
            <img src="~/Image/common/logo_footer.png" />
        </div>
    </div>
</div>
@section scripts {
    <script src="~/assets/plugins/angular/angular.min.js"></script>
    <script>
        var app1 = angular.module('list1', []);
        app1.controller('list1Ctrl', ['$scope', function ($scope) {
            $scope.detail = @MvcHtmlString.Create(ViewBag.User)
            $scope.lists = @MvcHtmlString.Create(ViewBag.RecordList)
            $scope.tmp = undefined;
            var Pager = {
                Refund: function (item) {
                    // 退款申请
                    window.location.href = "/User/EnterRefundApply?OrderID=" + item.RecordID;
                },
                Detail: function (item) {
                    //查看订单
                    window.location.href = "/Order/Success?OrderID=" + item.RecordID;
                }
            }
            $scope.Pager = Pager;
        }]);
    </script>
}