@{
    ViewBag.Title = "礼包商品购买";
}

@section styles {
    <style>
        .focus {
            border: 2px solid #ff0000 !important;
            border-radius: 6px;
        }
        .border_body div {
            width: 85%;
            margin: 0 auto 3% auto;
        }
        .border_body div > img {
            width: 100%;
        }
        .border_body {
            top: 23px;
        }
        .border_footer {
            bottom: -38px;
        }
        .common_button {
            bottom: 0%;
        }
        .common_footer {
            bottom: -28.5%;
        }
    </style>
}

<div class="container-fluid" ng-app="list1" ng-controller="list1Ctrl">
    <div class="userbase_logo">
        <img src="~/Image/common/logo_header.png" />
    </div>

    <div class="good_title">
    </div>

    <div class="common_content">
        <div class="border_header">
            <img src="~/Image/common/border_header.png" />
        </div>

        <div class="border_body">

            <div ng-repeat="item in lists" ng-class='{focus: $index==focus}'>
                <!-- 礼包1 -->
                <img ng-src='{{item.ImgPath?item.ImgPath:"#"}}' ng-click="Pager.Choose($index)" />
            </div>

            <div class="form-group-info">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <div class="form-group-info">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <a href="javascript:void(0)" ng-click="Pager.SubmitGift()" class="common_button">
                下一步
            </a>
        </div>

        <div class="border_footer">
            <img src="~/Image/common/border_bottom.png" />
        </div>
        <div class="common_footer">
            <img src="~/Image/common/logo_footer.png" />
        </div>
    </div>
</div>
@section scripts {
    <script src="~/assets/plugins/angular/angular.min.js"></script>
    <script>
        var app1 = angular.module('list1', []);
        app1.controller('list1Ctrl', ['$scope', function ($scope) {
            $scope.lists = [];
            $scope.focus = undefined;
            var Pager = {
                GetGiftsData: function () {
                    $scope.lists = [];
                    $scope.focus = undefined;
                    $.ajax({
                        url: "/Good/GetGiftsData",
                        type: "post",
                        dataType: "json",
                        data: { },
                        success: function (data) {
                            if (data.status == 0) {
                                modal.show('@ViewBag.Title', data.msg);
                                return;
                            }
                            $scope.lists = data.data;
                            $scope.$apply();
                        }
                    });
                },
                Choose: function (index) {
                    $scope.focus = index;
                },
                SubmitGift: function () {
                    if ($scope.focus == undefined) {
                        modal.show('@ViewBag.Title', "请选择礼包");
                        return;
                    }
                    var entity = $scope.lists[$scope.focus];
                    $.ajax({
                        url: "/Good/SubmitGift",
                        type: "post",
                        dataType: "json",
                        data: { jsonData: JSON.stringify(entity) },
                        success: function (data) {
                            if (data.status == 0) {
                                modal.show('@ViewBag.Title', data.msg);
                                return;
                            }
                            window.location.href = "/Order/OrderView";
                        }
                    });
                }
            }
            
            $scope.Pager = Pager;
            Pager.GetGiftsData();
        }]);
    </script>
}