html {
  font-size: 62.5%;
}
body {
  font-family: "微软雅黑", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1.4rem;
  background: #f1f2f6;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
ul,
li,
p,
nav,
footer,
section,
header,
article,
div,
dl,
dt,
dd,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
img,
em,
cite,
table,
td,
th {
  padding: 0;
  margin: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  -webkit-appearance: none;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
ul,
li,
dt,
dd,
ol {
  list-style: none;
}
img {
  border: 0px;
}
div {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #333;
  outline: none;
  -moz-outline-style: none;
}
a:active {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #333;
}
a:visited {
  text-decoration: none;
  color: #333;
}
a:link {
  text-decoration: none;
  color: #333;
}
@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important;
    /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important;
    /* 17.44÷16=109% */
  }
}
@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important;
    /* 20÷16=125% */
  }
}
.font14 {
  font-size: 1.4rem;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 6rem;
  margin-top: 5rem;
  border-top: 1px solid #dddddd;
}
.main h2.noshow {
  width: 100%;
  color: #999999;
  text-align: center;
  line-height: 10rem;
}
.main h2.noshow > img {
  display: block;
  width: 50%;
  margin: 0 25%;
  margin-top: 20%;
}
.main span.noshow {
  display: block;
  width: 100%;
  color: #999999;
  font-size: 1.6rem;
  text-align: center;
  line-height: 3rem;
}
.hidbg {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  z-index: 101;
  background: #333;
  -moz-opacity: 0.6;
  opacity: .60;
  filter: alpha(opacity=60);
  /* 只支持IE6、7、8、9 */
}
/*背景色*/
/*字体颜色*/
/*边框色*/
/*弹窗*/
.tiplayer {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 7.5rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100000;
}
.tiplayer .tipbox {
  max-width: 70%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  text-align: center;
  margin: 0 auto;
  top: 35%;
  position: relative;
  overflow: hidden;
  padding-top: 1.5rem;
}
.tiplayer .tipbox .tipclose {
  position: absolute;
  right: 0.1rem;
  top: 0;
  font-size: 3rem;
  color: #666;
  line-height: 2rem;
}
.tiplayer .tipbox dl dt {
  margin: 8% 0 5%;
}
.tiplayer .tipbox dl dt img {
  width: 25%;
}
.tiplayer .tipbox dl .text {
  font-size: 1.6rem;
}
.tiplayer .tipbox dl dd {
  width: 100%;
  text-align: center;
}
.tiplayer .tipbox dl dd.title {
  font-size: 1.6rem;
}
.tiplayer .tipbox dl dd.btn {
  font-size: 0;
  display: block;
  padding-top: 2rem;
}
.tiplayer .tipbox dl dd .tipbtn {
  font-size: 1.6rem;
  display: block;
  width: 50%;
  color: #000;
  border-top: 1px solid #dddddd;
  line-height: 4rem;
}
.tiplayer .tipbox dl dd .tipbtn:hover {
  background: #686868;
  color: #fff;
}
.tiplayer .tipbox dl dd .tipOk {
  float: right;
  background: #388fe9;
  border-top: 1px solid #388fe9;
  color: #fff;
}
.tiplayer .tipbox dl dd .tipCancel {
  float: left;
}
.head {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
  top: 0;
  background: #59a5f3;
  padding: 1rem 0;
  border-bottom: 1px solid #dddddd;
}
.head input {
  width: 16rem;
  float: left;
  height: 3rem;
  background: #fff;
  padding: 0 1.5rem;
  outline: none;
  position: relative;
  left: 3rem;
  font-size: 1.4rem;
  color: #999999;
}
.head .title {
  width: 100%;
  display: block;
  height: 3rem;
  line-height: 3rem;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
}
.head .proDetail {
  width: 70%;
  height: 3rem;
  display: block;
  line-height: 3rem;
  margin: 0 auto;
  font-size: 1.8rem;
  overflow: visible;
}
.head .proDetail > a {
  float: left;
  width: 28%;
  margin: 0 2%;
  text-align: center;
}
.head .proDetail > a.on {
  color: #388fe9;
  position: relative;
}
.head .proDetail > a.on:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #388fe9;
  position: absolute;
  left: 0;
  bottom: -1.1rem;
}
.head span.backbtn {
  display: inline-block;
  width: 1.4rem;
  height: 2.8rem;
  background: url(../../Images/backbtn.png) no-repeat;
  background-size: 1.4rem 2.8rem;
  margin-left: 1rem;
  position: absolute;
  z-index: 1000;
}
.head i {
  width: 3rem;
  height: 3rem;
  float: left;
  position: absolute;
  z-index: 1000;
}
.head i.ileft {
  left: 1.2rem;
}
.head i.iright {
  left: 20.9rem;
}
.head a {
  float: right;
}
.head a > img {
  width: 2.5rem;
  height: 2.5rem;
}
.main .topSubmitbtn {
  width: 90%;
  margin: 2rem 5%;
  display: block;
  background: #388fe9;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 4rem;
  border-radius: 0.5rem;
}
.bottom {
  width: 100%;
  height: 5.5rem;
  margin: 0 auto;
  line-height: 2.2em;
  background: #fff;
  border-top: 1px solid #dddddd;
  position: fixed;
  z-index: 100;
  bottom: 0;
  font-size: 1.4rem;
}
.bottom li {
  width: 20%;
  float: left;
  text-align: center;
}
.bottom li a {
  margin-top: 0.8rem;
  width: 100%;
  display: block;
  padding-top: 1.8rem;
}
.bottom li a.on {
  color: #388fe9;
}
.head {
  background: #fff;
}
.hidShowBox {
  z-index: 102;
  height: 17rem;
  position: absolute;
  display: none;
}
.hidShowBox > ul {
  width: 100%;
  background: none;
}
.hidShowBox > ul > li {
  width: 100%;
  border-bottom: 1px solid #dddddd;
  background: #fff;
  font-size: 1.6rem;
  line-height: 4rem;
}
.hidShowBox > ul > li.marno {
  border-bottom: none;
  margin-bottom: 0.85rem;
}
.hidShowBox > a.closebtn {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  line-height: 4rem;
  background: #fff;
  margin-top: 12.85rem;
  text-align: center;
}
.main {
  /*个人信息*/
  /*我的钱包*/
  /*我的钱包*/
  /*推荐邀请*/
  /*在线客服*/
}
.main > div {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.85rem;
  background: #fff;
}
.main .user_title {
  width: 100%;
  display: block;
  line-height: 5rem;
  font-size: 1.6rem;
  font-weight: normal;
  position: relative;
  border-bottom: 1px solid #dddddd;
}
.main .user_title a {
  display: block;
  width: 100%;
}
.main .user_title span {
  margin-left: 5rem;
}
.main .user_title i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.5rem;
}
.main .user_title .title_left {
  left: 1.5rem;
}
.main .user_title .title_right {
  right: 1.5rem;
  background: url(../../Images/center14.png) no-repeat center;
  background-size: 1rem 2rem;
}
.main .user_title b {
  font-weight: normal;
  margin-right: 2rem;
  color: #999999;
  float: right;
}
.main .user_info {
  background: url(../../Images/center15.png) repeat-y center;
  background-size: 100%;
  position: relative;
}
.main .user_info .info {
  width: 12.5rem;
  margin: 3% auto;
  text-align: center;
}
.main .user_info .info img {
  width: 5rem;
  height: 5rem;
  border: 2px solid #fff;
  margin: 0 auto;
  border-radius: 50%;
}
.main .user_info .info b {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  line-height: 3rem;
}
.main .user_info a.editbtn {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../../Images/center01.png) no-repeat center;
  background-size: 2.5rem 2.5rem;
  position: absolute;
  right: 5%;
  top: 8%;
}
.main .user_order .order_info {
  width: 100%;
  margin: 0 auto;
  font-size: 1.4rem;
}
.main .user_order .order_info a {
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
  margin: 1rem auto;
  padding-top: 3.5rem;
}
.main .user_li > div {
  width: 91%;
  margin: 0 auto;
}
.main .user_li .nobor {
  border-bottom: none;
}
.main .user_li span {
  margin-left: 3.5rem;
}
.main .user_li .title_left {
  left: 0;
}
.main .user_li .title_right {
  right: 0;
}
.main .lis > strong span {
  margin-left: 0;
}
.main .lis .user_title b > a > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: 0.5rem;
}
.main .balance_top {
  background: #388fe9;
}
.main .balance_top .info {
  width: 80%;
  text-align: center;
}
.main .balance_top .info b.money {
  font-size: 4.5rem;
  line-height: 5rem;
  width: 100%;
}
.main .balance_top .balance_bottom {
  width: 100%;
  background: #3488db;
  text-align: center;
  font-size: 1.6rem;
}
.main .balance_top .balance_bottom span {
  float: left;
  width: 50%;
}
.main .balance_top .balance_bottom span a {
  color: #fff;
  line-height: 5rem;
  height: 3rem;
  padding: 1rem 0;
  padding-left: 4rem;
}
.main .balance_top .balance_bottom a.balanceico {
  background: url(../../Images/banlace01.png) no-repeat left;
  background-position: 0;
  background-size: 3rem;
}
.main .balance_top .balance_bottom a.bankico {
  background: url(../../Images/banlace02.png) no-repeat left;
  background-position: 0;
  background-size: 3rem;
}
.main .balance_detail {
  width: 100%;
  margin: 0 auto;
}
.main .balance_detail .user_title {
  padding: 1rem 0;
}
.main .balance_detail .user_title span {
  margin-left: 5%;
}
.main .balance_detail .user_title span.title {
  padding-left: 1.5rem;
  position: relative;
}
.main .balance_detail .user_title span.title:after {
  content: "";
  width: 0.3rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  background: #388fe9;
}
.main .balance_detail .user_title > p {
  width: 90%;
  margin: 0 5%;
  line-height: 2rem;
}
.main .balance_detail .user_title > p > span,
.main .balance_detail .user_title > p > b {
  margin: 0;
  float: none;
}
.main .balance_detail .user_title > p .lblright {
  float: right;
}
.main .balance_detail .user_title > p > b {
  font-size: 1.4rem;
}
.main .reward_top {
  background: #fff;
}
.main .reward_top .info {
  width: 80%;
  text-align: center;
  margin: 0 10%;
  padding: 2rem 0;
}
.main .reward_top .info img {
  float: left;
}
.main .reward_top .info strong,
.main .reward_top .info span {
  text-align: left;
  width: 60%;
  display: block;
  float: left;
  margin-left: 5%;
  font-size: 1.6rem;
}
.main .reward_top .info strong {
  font-size: 1.8rem;
  font-weight: normal;
}
.main .reward_top .reward_bottom {
  width: 90%;
  text-align: center;
  margin: 0 5%;
  border-top: 1px solid #dddddd;
  padding: 0.85rem 0;
}
.main .reward_top .reward_bottom span {
  float: left;
  width: 33%;
  border-right: 1px solid #dddddd;
}
.main .reward_top .reward_bottom span a {
  display: block;
  line-height: 2rem;
}
.main .reward_top .reward_bottom span a b {
  font-weight: normal;
  color: #333;
}
.main .reward_top .reward_bottom span a.on {
  color: #388fe9;
}
.main .reward_top .reward_bottom span.nobor {
  border: none;
}
.main .invitation_box {
  margin: 0;
  width: 20%;
  text-align: center;
  border: 1px solid #dddddd;
  position: absolute;
  bottom: 4%;
  right: 10%;
}
.main .invitation_box .online_top {
  width: 80%;
  border-bottom: 1px solid #dddddd;
}
.main .invitation_box .online_top > img {
  width: 100%;
  float: left;
}
.main .invitation_box .online_top strong,
.main .invitation_box .online_top a {
  display: block;
  width: 65%;
  float: right;
  text-align: left;
  margin-left: 5%;
}
.main .invitation_box .online_top strong {
  color: #388fe9;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 3rem;
}
.main .invitation_box > img {
  width: 100%;
}
.main .invitation_box > span {
  color: #999999;
}
.main .online_box {
  width: 60%;
  margin: 20% auto;
  text-align: center;
  border: 1px solid #dddddd;
  padding: 5% 0;
}
.main .online_box .online_top {
  width: 80%;
  margin: 0 10%;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10%;
}
.main .online_box .online_top > img {
  width: 30%;
  float: left;
}
.main .online_box .online_top strong,
.main .online_box .online_top a {
  display: block;
  width: 65%;
  float: right;
  text-align: left;
  margin-left: 5%;
}
.main .online_box .online_top strong {
  color: #388fe9;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 3rem;
}
.main .online_box > img {
  width: 80%;
  margin: 10%;
}
.main .online_box > span {
  color: #999999;
}
