<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>中猎国际狩猎俱乐部 | @ViewBag.Title</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0,
          maximum-scale=2.0, user-scalable=no, width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="" />

    <link href="~/assets/plugins/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style-2.0.1.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()

    <script src="~/assets/plugins/jquery-1.9.1/jquery-1.9.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="~/assets/js/CustomValidate.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            //初始化消息框
            modal.initModal();
        });
    </script>
</body>
</html>
